networks:
  internal-network:

services:
  events_db:
    container_name: signacle_db
    image: postgres:14
    environment:
      POSTGRES_DB: signacle_db
      POSTGRES_USER: signacle
      POSTGRES_PASSWORD: signacle123
    networks:
      - internal-network
    ports:
      - "4002:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: { }
